<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>关于我们</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="STYLESHEET" type="text/css" href="css/commom/header.css">
	<link rel="STYLESHEET" type="text/css" href="css/commom/search.css">
	<link rel="stylesheet" type="text/css" href="css/commom/footer.css">
	<link rel="STYLESHEET" type="text/css" href="css/aboutUs.css">



</head>

<body>
<div class="header" id="header">
	<img class="logo" src="images/commom/header/logo.png">
	<ul>
		<li class="two"><a href="#">首页</a></li>
		<li class="five"><a href="#">全部电影节</a></li>
		<li class="two"><a href="#">活动</a></li>
		<li class="three"><a href="#">访谈录</a></li>
		<li class="four"><a href="#">后期投寄</a></li>
		<li class="four"><a href="#">关于我们</a></li>
	</ul>
	<img class="search" src="images/commom/header/search.png" id="isearch" onclick="search()">
	<a href="#"><img class="photo" src="images/person-info/photo.png"></a>
<!--	<a class="login" href="login.html">登录</a>-->
</div>
<div id="search" class="sch">
		<img src="images/commom/header/search-bg.png" class="img1">
		<input type="text" id="sch" class="sch_k" placeholder="搜索电影节"/>
		<a href="search.html"><img src="images/commom/header/search-search.png" class="img2"></a>
		<img src="images/commom/header/close.png" class="img3" id="close">
</div>

<div class="nei">
    <div class="neiImg" style="background:url(images/aboutUs/aboutUs.png) center top no-repeat;"></div>
    <div class="neiCont">
        <div class="w">
            <div class="aboutUs">
                <div class="a_intr">
                    <p>电影节（http://www.ff1895.com）是世界电影节信息分享平台，实时发布全世界各大小电影节的信息，包括征片时间、征片要求、
                    奖项设置、投递方式等，为电影创作者提供投片渠道。与此同时，我们为您提供影片投寄服务。假如您创作了优秀的作品，接下来的工作就交
                    给我们吧。我们会根据每位创作者的需求和影片类型，订制投片计划，帮助完成报名表填写、作品字幕翻译、后期格式调整、作品投寄等工作。
                    </p><br>
                    <p>另外，电影节（http://www.ff1895.com）也是电影爱好者的交流平台，您可以在这里结识一些专业的影视导演、编剧、
                        摄像等，看看他们的作品和片单，与他们结交合作。我们还为业余电影爱好者提供拍电影、电影课等活动。专业讲师授课、专业创
                        作团队拍片全程指导，您可以与电影制作零距离接触。团队也会实行自己的电影项目，与大家线上线下分享交流。
                    </p><br>
                    <p>公司愿景是“开展一场新的电影运动”。我们愿意与业内优秀创作人一起，共同成长为中国影视领域的中流砥柱。</p>
                    <br>
                    <p>地址：北京市朝阳区新源西里东街4号楼</p>
                    <p>邮箱：service@ff1895.com</p>
                    <p>电话：010-64629729</p>

                </div>
                <div class="a_join" id="join">
                    <div class="aDiv_tit">
                        <p>JOIN US</p>
                        <strong>加入我们</strong>
                    </div>
                    <div class="aj_con">
                        <p style="text-indent:2em">如果您有兴趣参与一场新的电影运动，那么您应该有兴趣加入我们。无论您是做什么的，如果您觉得会对我们有帮助，那么请将简历发送给我们，我们将立即与您联系。</p><br/>
                        <p style="text-indent:2em">我们拥有轻松舒适的工作环境、弹性的工作时间、零食畅吃、饮料畅饮、无限免费看电影。</p><br/>
                        <p style="text-indent:2em"> 目前我们有以下职位需求：市场推广、运营总监、内容总编辑、海外部负责人等职位。</p>
                        <p style="text-indent:2em"> 发送简历：姓名+【申请职位】到hr@ff1895.com</p>

                        <p><span class="span">市场推广</span></p>

                        <p>工作职责：</p>
                        <p>1、负责网站的推广和日常运营工作，通过网站推广，实现浏览量、注册量等目标；</p>
                        <p> 2、配合合作渠道进行运营推广以及各种线上、线下活动的推广实施；</p>
                        <p> 3、开拓和维护业内合作伙伴关系，通过各种形式获取推广资源；</p>
                        <p style="margin-bottom: 45px;"> 4、对推广数据进行监控和跟踪反馈，并对推广数据进行分析，有针对性地调整优化推广策略。</p>

                        <p> 任职资格：</p>
                        <p>1、互联网深度用户，熟悉各大网络平台；</p>
                        <p>2、思维清晰有条理，对数据敏感，有较强的数据分析能力；</p>
                        <p>3、强烈的责任心、执行力，主动性强，擅长与人沟通，并以此为乐；</p>
                        <p>4、对利用社会化网络平台推广有一定经验或见解；</p>

                        <p><span class="span">运营总监</span></p>

                        <p>工作职责：</p>
                        <p>1、负责促进网站用户活动度，包括专题话题、电影节信息更新等；</p>
                        <p>2、根据运营规划，主题活动文案的撰写及推广；</p>
                        <p>3、日常运营工作，审核网站内容，维护网站环境；</p>
                        <p style="margin-bottom: 45px;">4、对运营数据进行分析。</p>

                        <p>任职资格：</p>
                        <p>1、热爱电影，脑洞开！！有想法！有创意！对电影行业有兴趣、有思考、有见解。</p>
                        <p>2、有良好的沟通能力，踏实细心，富有责任感；</p>
                        <p> 3、有新媒体运营经验者优先考虑。</p>

                        <p><span class="span">内容总编辑</span></p>

                        <p>工作职责：</p>
                        <p>1、视野开阔，第一时间发现国内外的优质内容；</p>
                        <p> 2、负责电影节网站《访谈录》的运营，写漂亮的电影、访谈推荐文章；</p>
                        <p>3、电影节微信公众号的内容推送；</p>
                        <p style="margin-bottom: 45px;"> 4、日常运营工作，进行数据统计、了解用户反馈，提高用户活跃度。</p>

                        <p>任职资格：</p>
                        <p>1、爱好电影，有丰富的阅片量和良好的鉴赏能力，具备影视专业知识或者资深影迷优先；</p>
                        <p>2、重度互联网用户，眼界开阔，好奇心强，关注国内、国外影视相关资讯；</p>
                        <p>3、优秀的文字功底；</p>
                        <p>4、有影视类公众号运营经验者优先；</p>

                        <p><span class="span">海外部负责人</span></p>

                        <p>工作职责：</p>
                        <p style="margin-bottom: 45px;">1、负责世界电影节信息的查找、收集、翻译、整合。</p>

                        <p>任职资格：</p>
                        <p>1、精通英文、翻墙查资料、文章翻译无压力；精通其他小语种加分；</p>
                        <p>2、熟练操作office办公软件；</p>
                        <p>3、细心；</p>
                    </div>
                </div>
                <div class="a_coop" id="coop">
                    <div class="aDiv_tit">
                        <p>Cooperative Extension</p>
                        <strong>合作推广</strong>
                    </div>
                    <div class="aj_cont">
                       <p><span class="span"> 我们拥有的合作推广资源</span></p>

                       <p>电影节网站</p>
                       <p> 电影节微信公众号</p>
                       <p> 线下活动</p>

                       <p><span class="span"> 我们的目标人群</span></p>

                       <p>影视从业者</p>
                       <p>影视投资人</p>
                       <p>影迷</p>
                       <p>其他：学生、媒体、广告公司等</p>


                        <p><span class="span"> 商业合作方式</span></p>

                        <p>	品牌广告展示，可以将你的品牌广告在我们的网站、客户端、线下活动以多样形式展现</p>
                        <p>	拍电影项目合作</p>

                        <p><span class="span"> 如何申请推广合作</span></p>

                        <p>邮箱联系我们，我们将会在1-2个工作日内与你联系</p>
                        <p>合作邮箱：service@ff1895.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
	<img src="images/commom/footer/footer-logo.png">
	<ul>
		<li><a href="#">关于我们</a></li>
		<li><a href="#">加入我们</a></li>
		<li><a href="#">合作推广</a></li>
	</ul>
	<ul>
		<li><a href="#">全部电影节</a></li>
		<li><a href="#">更多活动</a></li>
		<li><a href="#">访谈录</a></li>
		<li><a href="#">后期投寄</a></li>
	</ul>
	<ul style=" background:none;">
		<li>&copy; 2016 北京良介文化传媒有限公司</li>
		<li>京ICP备14003808号</li>
	</ul>
</div>
</body>
<script type="text/javascript" src="js/commom/jquery.min.js"></script>
<script type="text/javascript" src="js/commom/search.js"></script>
</html>