<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>活动页</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="css/festival.css">
<link rel="stylesheet" type="text/css" href="css/commom/header.css">
<link rel="stylesheet" type="text/css" href="css/commom/footer.css">
<link rel="stylesheet" type="text/css" href="css/activity.css">
<link rel="stylesheet" type="text/css" href="css/commom/hot.css">

</head>

<body>
<div class="header" id="header">
	<img class="logo" src="images/commom/header/logo.png">
	<ul>
		<li class="two"><a href="#">首页</a></li>
		<li class="five"><a href="#">全部电影节</a></li>
		<li class="two"><a href="#">活动</a></li>
		<li class="three"><a href="#">访谈录</a></li>
		<li class="four"><a href="#">后期投寄</a></li>
		<li class="four"><a href="#">关于我们</a></li>
	</ul>
	<img class="search" src="images/commom/header/search.png" id="isearch" onclick="search()">
	<a href="#"><img class="photo" src="images/person-info/photo.png"></a>
</div>
<div id="search" class="sch">
		<img src="images/commom/header/search-bg.png" class="img1">
		<input type="text" id="sch" class="sch_k" placeholder="搜索电影节"/>
		<a href="search.html"><img src="images/commom/header/search-search.png" class="img2"></a>
		<img src="images/commom/header/close.png" class="img3" id="close">
</div>

<div class="nei">
    <div class="neiCont">
        <div class="w">
            <div class="inRecord">
                <div class="inR_left xCont dCont">
					<p>活动-拍摄实践体验</p>
					<h2>《料理》拍摄活动</h2>
					<div data-bd-bind="1474615158565" class="share-button">
						<a href="#" class="share" data-cmd="share" title="分享到社区"><img src="images/activity_movie/share.png"></a>
						<a href="#" class="qzone" data-cmd="qzone" title="分享到QQ空间"><img src="images/activity_movie/qzong.png"></a>
						<a href="#" class="wechat" data-cmd="wechat" title="分享给微信好友"><img src="images/activity_movie/wechat.png"></a>
						<a href="#" class="pengyouquan" data-cmd="pengyouquan" title="分享到朋友圈"><img src="images/activity_movie/pengyouquan.png"></a>
						<a href="#" class="xinlang" data-cmd="xinlang" title="分享到新浪微博"><img src="images/activity_movie/xinlang.png"></a>
					</div>
                    <div class="xCont_div">
						<h4>搭建段祺瑞执政旧府里的『伤心料理』</h4>
						<div class="tv_v">
							<span><b><img src="images/commom/search_img/i01_06.png" alt=""></b><i>2690</i></span>
							<span><b><img src="images/commom/search_img/i02_07.png" alt=""></b><i>269</i></span>
							<span><b><img src="images/commom/search_img/i03_10.png" alt=""></b><i>98</i></span>
						</div>
						<br/>
						<p>8月份开始，《伤心料理》正式进入执行阶段，首先的挑战是美术上的。《伤心料理》是一个在现实中不存在的场景，那么它到底应该长什么样？导演和美术陶陶的讨论结果是：日式和文艺小清新感混搭的，暖心的，有真实质感的一家小餐厅。这三句笼统的定义距离一个真正成型的餐厅还差着十万八千里。于是美术陶陶首先收集了几百张国内外各类文艺餐厅、咖啡馆的图片，我们从中讨论思路，细节。</p>
						<p>选景的细节也颇费周折，理论上在摄影棚内搭建是最省事的选择，但因为客户计划了一个线下活动，希望能让《伤心料理》成为一个真实的场所，让所有观众看完短片后能真正到这家料理店体验下。所以找一个真实营业中的餐馆或咖啡馆就成了必须的选择，而实景就意味着一系列麻烦。为此，我们先是在大众点评上把北京有艺术氛围的餐馆或咖啡馆全标注出来挑选，然后几乎像扫街一样把798，五道营等北京小资集散地的餐馆或咖啡馆扫了一遍。其中有空间大小或结构不合适的，有质感不对的，有高冷拒绝的，有谈判不拢的。直到十一前，才最终确认了最终的拍摄场地：段祺瑞执政旧府里的花生咖啡。</p>
						<p>段祺瑞执政旧府是北京为数不多的保存有民国建筑的一个大院，曾经是《阳光灿烂的日子》的外景地。因此我们选择的这家咖啡馆最大的长处是他的地板和墙壁真的有岁月腐蚀的痕迹和质感，短处嘛，除了地板和墙壁，以及原有的开放式厨房结构，就再也没有和片子调性接近的东西了，这就意味着，我们几乎要重新装修整个咖啡馆，包括门脸。</p>
						<img class="chatu" src="images/activity_movie/a1.png">
						<img class="chatu" src="images/activity_movie/a2.png">
						<p>至于导演，面对210个镜头，他已经无心搞创作了，用最简练的视听语言去讲述一个流畅的故事，成了他对自己最没要求的要求。对片子的情怀，大概都倾注到了那几个空镜头里，洒满阳光的厨房，伤心的雨丝，缓缓飘落的雪花。但愿观众能从这些细节里，看到导演传递的温暖治愈的小能量。</p>
                        <div class="x_l">
                            <div class="x_lt">
	                            <a href="#">报名参与</a>
							</div>
                            <div class="x_lb">
                                <a href="#" class="zan_icon_before"></a>|
                                <a href="#" class="shoucang_icon_before"></a>|
                                <a href="#"><img src="images/festival/i12_12.png" alt=""></a>
                            </div>
                        </div>
                        <div class="x_p">
                            <h3>已有 <i>98</i>条评论</h3>
                            <div class="x_pd">
                            	<div class="send">  
								 <img src="images/festival/ph1.png">            
								 <textarea placeholder="@Hugo Sigard很喜欢这种访谈，受益匪浅..."></textarea>
								 <div class="option">
									 <div class="btn">
										<button type="button" id="zfabu">发布评论</button>
									 </div>
								 </div>
								</div>
								<div class="sended">
								<div class="sended1">
									<img src="images/festival/ph2.png">
									<div class="comment">
										<h4>Hugo Sigaud</h4>&nbsp;&nbsp;|&nbsp;&nbsp;<time>3小时前</time>
										<p>太棒了！很喜欢这种访谈，受益匪浅！！</p>
										<a onclick="">回复</a>
									</div>
								</div>
								<div class="sended2">
									<img src="images/festival/ph3.png">
									<div class="comment">
										<h4>查实丁</h4>&nbsp;&nbsp;|&nbsp;&nbsp;<time>两天前</time>
										<p>做了那么久的电影梦，总归想要在这里掀些波澜。在追梦的路上，要努力，更要有机会。我们愿在通往梦想的路上与你同行，并成为你最值得信赖的伙伴，我们将招募50名制片人，成立工作室。</p>
										<a onclick="">回复</a>
									</div>
								</div>
							</div>
                            	<div class="main">
                             	<div class="cont">
                              		<div class="item active" id="box1">
                               			<div class="posts">
                    
                               			</div>
                              			<div id="pages1"></div>
                             		</div>
                            	</div>
                         	</div>
	                        </div>
                    	</div>
                	</div>
            	</div>
				<!--热门推荐-->
				<div class="inR_right">
				<!--<div class="inR_div">
						<h2>分类标签</h2>
						<div class="inR_div01">
							<a href="javascript:;">摄影</a>
							<a href="javascript:;">导演</a>
							<a href="javascript:;">制片人</a>
							<a href="javascript:;">后期制作</a>
						</div>
					</div>-->
					<div class="inR_div">
						<h2>推荐活动</h2>
						<div class="inR_div02">
							<ul>
								<li><a href="javascript:;"><img src="images/hot/hot1.png" alt=""></a></li>
								<li><a href="javascript:;"><img src="images/hot/hot2.png" alt=""></a></li>
								<li><a href="javascript:;"><img src="images/hot/hot3.png" alt=""></a></li>
								<li><a href="javascript:;"><img src="images/hot/hot4.png" alt=""></a></li>
							</ul>
							<a href="#">更多推荐 &gt;&gt;</a>
						</div>
					</div>
					<div class="inR_div">
						<h2>关注我们</h2>
						<div class="inR_div03">
							<img src="images/hot/erweima.jpg" alt="">
						</div>
					</div>
				</div>
        	</div>
    	</div>
	</div>
</div>


<div class="footer">
	<img src="images/commom/footer/footer-logo.png">
	<ul>
		<li><a href="#">关于我们</a></li>
		<li><a href="#">加入我们</a></li>
		<li><a href="#">合作推广</a></li>
	</ul>
	<ul>
		<li><a href="#">全部电影节</a></li>
		<li><a href="#">更多活动</a></li>
		<li><a href="#">访谈录</a></li>
		<li><a href="#">后期投寄</a></li>
	</ul>
	<ul style=" background:none;">
		<li>&copy; 2016 北京良介文化传媒有限公司</li>
		<li>京ICP备14003808号</li>
	</ul>
</div>


<script type="text/javascript" src="js/commom/jquery.min.js"></script>
<script type="text/javascript" src="js/commom/search.js"></script>
<script type="text/javascript" src="css/festival.css"></script>
<script>
	
</script>
</body>
</html>