<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>拍电影_活动_电影节</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	
	<link rel="STYLESHEET" type="text/css" href="css/commom/header.css">
	<link type="text/css" rel="stylesheet" href="css/commom/lunbotu.css">
	<link rel="stylesheet" type="text/css" href="css/commom/footer.css">
	<link rel="STYLESHEET" type="text/css" href="css/activity_movie.css">
	<link rel="STYLESHEET" type="text/css" href="css/calendar.css">
</head>
<body>
<!--头部-->
<div class="header" id="header">
	<img class="logo" src="images/commom/header/logo.png">
	<ul>
		<li class="two"><a href="#">首页</a></li>
		<li class="five"><a href="#">全部电影节</a></li>
		<li class="two"><a href="#">活动</a></li>
		<li class="three"><a href="#">访谈录</a></li>
		<li class="four"><a href="#">后期投寄</a></li>
		<li class="four"><a href="#">关于我们</a></li>
	</ul>
	<img class="search" src="images/commom/header/search.png" id="isearch" onclick="search()">
	<a href="#"><img class="photo" src="images/person-info/photo.png"></a>
</div>
<div id="search" class="sch">
	<img src="images/commom/header/search-bg.png" class="img1">
	<input type="text" id="sch" class="sch_k" placeholder="搜索电影节"/>
	<a href="search.html"><img src="images/commom/header/search-search.png" class="img2"></a>
	<img src="images/commom/header/close.png" class="img3" id="close">
</div>

<!--轮播图-->
<div id="showcase" class="cloud row-content showcase">
	<div class="container">
		<div class="slide" style="display:block; ">                
			<div class="content-main-visual">
				<a class="pc bg1" href="#" target="_blank"></a>	
				<a class="pc bg2" href="#" target="_blank"></a>
				<a class="pc bg3" href="#" target="_blank"></a>
				<a class="pc bg4" href="#" target="_blank"></a>
				<a class="pc bg5" href="#" target="_blank"></a>
			</div>
			<div class="content-main-feature">
				<div class="feature">
					<a href="#" class="current">
						<img src="images/commom/lunbotu/icon1.png">
						<div class="timerLine dark-green"></div><!-- 进度条 -->
					</a>
				</div>
				<div class="feature">
					<a href="#">
						<img src="images/commom/lunbotu/icon2.png">
						<div class="timerLine dark-azure"></div>
					</a>				
				</div>           
				<div class="feature">
					<a href="#">
						<img src="images/commom/lunbotu/icon3.png">
						<div class="timerLine dark-brick"></div>
					</a>
				</div>           
				<div class="feature">
					<a href="#">
						<img src="images/commom/lunbotu/icon4.png">
						<div class="timerLine dark-gray"></div>
					</a>
				</div>
				<div class="feature">
					<a href="#">
						<img src="images/commom/lunbotu/icon5.png">
						<div class="timerLine dark-green"></div><!-- 进度条 -->
					</a>
				</div>           
			</div>
		</div>
	</div>
</div>

<div class="nei">
    <div class="neiCont">
        <div class="w">
            <div class="active">
                <div class="act_tit">
                    <a href="#" class="quanbu">全部</a>
                    <a href="#" class="zjyz">最近一周</a>
                    <a href="#" class="zhoum">周末</a>
                    <a class="">选择日期:
						<input type="text" id="birthday" name="birthday" value="" />
					</a>
					
                </div>
                <div class="act_cont shouc-ul">
 
                    <div class="acvC_list">
                        <div class="img"><a href="http://www.baidu.com" target="_blank" style="z-index:999"><img src="images/activity_movie/img1.png"></a></div>
                        <div class="text">
                            <h2><a href="#">第二届电影节影像MV拍摄</a></h2>
                            <div>
                                <span class="time">2016/9/23 11:18:32</span>
                                <span class="address">中国，北京</span>
                            </div>
                            <div class="a"><a href="#" class="zt-a">报名中</a></div>
                        </div>
                    </div>

 
                    <div class="acvC_list">
                        <div class="img"><a href="#"><img src="images/activity_movie/img2.png"></a></div>
                        <div class="text">
                            <h2><a href="#">《左耳》主题曲MV拍摄体验</a></h2>
                            <div>
                                <span class="time">2016/8/6 11:09:14</span>
                                <span class="address">法国，巴黎</span>
                            </div>
							<div class="a"><a href="#" class="zt-a">报名中</a></div>
                        </div>
                    </div>

 
                    <div class="acvC_list">
                        <div class="img"><a href="#"><img src="images/activity_movie/img1.png"></a></div>
                        <div class="text">
                            <h2><a href="#">第二届电影节影像MV拍摄</a></h2>
                            <div>
                                <span class="time">2016/8/22 16:32:34</span>
                                <span class="address">中国，北京</span>
                            </div>
                            <div class="a b"><a href="#" class="zt-a">进行中</a></div>
                        </div>
                    </div>
					
					
                    <div class="acvC_list">
                        <div class="img"><a href="#"><img src="images/activity_movie/img2.png"></a></div>
                        <div class="text">
                            <h2><a href="#">《左耳》主题曲MV拍摄体验</a></h2>
                            <div>
                                <span class="time">2016/8/6 11:09:14</span>
                                <span class="address">法国，巴黎</span>
                            </div>
                            <div class="a c"><a href="#" class="zt-a">已结束</a></div>
                        </div>
                    </div>
					
					
					<div class="acvC_list">
                        <div class="img"><a href="#"><img src="images/activity_movie/img1.png"></a></div>
                        <div class="text">
                            <h2><a href="#">第二届电影节影像MV拍摄</a></h2>
                            <div>
                                <span class="time">2016/9/23 11:18:32</span>
                                <span class="address">中国，北京</span>
                            </div>
                            <div class="a"><a href="#" class="zt-a">报名中</a></div>
                        </div>
                    </div>

 
                    <div class="acvC_list">
                        <div class="img"><a href="#"><img src="images/activity_movie/img2.png"></a></div>
                        <div class="text">
                            <h2><a href="#">《左耳》主题曲MV拍摄体验</a></h2>
                            <div>
                                <span class="time">2016/8/6 11:09:14</span>
                                <span class="address">法国，巴黎</span>
                            </div>
							<div class="a"><a href="#" class="zt-a">报名中</a></div>
                        </div>
                    </div>
					
					
					<div class="acvC_list">
                        <div class="img"><a href="#"><img src="images/activity_movie/img1.png"></a></div>
                        <div class="text">
                            <h2><a href="#">第二届电影节影像MV拍摄</a></h2>
                            <div>
                                <span class="time">2016/9/23 11:18:32</span>
                                <span class="address">中国，北京</span>
                            </div>
                            <div class="a"><a href="#" class="zt-a">报名中</a></div>
                        </div>
                    </div>

 
                    <div class="acvC_list">
                        <div class="img"><a href="#"><img src="images/activity_movie/img2.png"></a></div>
                        <div class="text">
                            <h2><a href="#">《左耳》主题曲MV拍摄体验</a></h2>
                            <div>
                                <span class="time">2016/8/6 11:09:14</span>
                                <span class="address">法国，巴黎</span>
                            </div>
							<div class="a"><a href="#" class="zt-a">报名中</a></div>
                        </div>
                    </div>

  				</div>
                <div id="pages">
					<a class="first" href="javascript:showXgtList(1)" style="display:none">首页</a>
					<a class="prev" href="javascript:showXgtList(1)">
						<img src="images/activity_movie/prev.png">
					</a>
					<span class="current">1</span>
					<a class="next" href="javascript:showXgtList(1)">
						<img src="images/activity_movie/next.png">
					</a>
					<a class="last" href="javascript:showXgtList(1)" style="display:none">尾页</a>
				</div>
            </div>
        </div>
    </div>
</div>


<script type="text/tpl" id="xgttpl">
  {{each rows as val i}}
 
		<div class="acvC_list">
			<div class="img"><a href="{{val.C_Link}}"><img src="{{val.C_LImage}}"/></a></div>
			<div class="text">
				<h2><a href="{{val.C_Link}}">{{val.C_Title}}</a></h2>
				<div>
					<span class="time">{{val.C_AddDate}}</span>
					<span class="address">{{val.OVF_Field18}}</span>
				</div>
				<div class="a"><a href="#" class="zt-a">{{val.OVF_Field19}}</a></div>
			</div>
		</div>

  {{/each}}

</script>

<!--footer-->
<div class="footer">
	<img src="images/commom/footer/footer-logo.png">
	<ul>
		<li><a href="#">关于我们</a></li>
		<li><a href="#">加入我们</a></li>
		<li><a href="#">合作推广</a></li>
	</ul>
	<ul>
		<li><a href="#">全部电影节</a></li>
		<li><a href="#">更多活动</a></li>
		<li><a href="#">访谈录</a></li>
		<li><a href="#">后期投寄</a></li>
	</ul>
	<ul style=" background:none;">
		<li>&copy; 2016 北京良介文化传媒有限公司</li>
		<li>京ICP备14003808号</li>
	</ul>
</div>
<script src="js/commom/jquery.min.js"></script>
<script src="js/commom/search.js"></script>
<script src="js/commom/jquery.js"></script>
<script src="js/commom/lunbotu.js"></script>
<script src="js/activity_movie.js"></script>
<script src="js/calendar.js"></script>
               
<script type="text/javascript">
jQuery(document).ready(function(){AcerUi.init();});
</script>
</body>
</html>