<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>韩国富川国际电影节</title>
	<meta name="keywords" content="韩国富川国际电影节">
	<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="css/festival.css">
<link rel="stylesheet" type="text/css" href="css/commom/header.css">
<link rel="stylesheet" type="text/css" href="css/commom/footer.css">

</head>

<body>
<div class="header" id="header">
	<img class="logo" src="images/commom/header/logo.png">
	<ul>
		<li class="two"><a href="#">首页</a></li>
		<li class="five"><a href="#">全部电影节</a></li>
		<li class="two"><a href="#">活动</a></li>
		<li class="three"><a href="#">访谈录</a></li>
		<li class="four"><a href="#">后期投寄</a></li>
		<li class="four"><a href="#">关于我们</a></li>
	</ul>
	<img class="search" src="images/commom/header/search.png" id="isearch" onclick="search()">
	<a href="#"><img class="photo" src="images/person-info/photo.png"></a>
</div>
<div id="search" class="sch">
		<img src="images/commom/header/search-bg.png" class="img1">
		<input type="text" id="sch" class="sch_k" placeholder="搜索电影节"/>
		<a href="search.html"><img src="images/commom/header/search-search.png" class="img2"></a>
		<img src="images/commom/header/close.png" class="img3" id="close">
</div>


<div class="nei">
    <div class="neiCont">
        <div class="w">
            <div class="inRecord">
                <div class="inR_left xCont dCont">
                    <div class="dTit">
                        <h2>
                            <p>Bucheon International Fantastic Film Festival</p>
                            韩国富川国际电影节
                            <span>http://www.bifan.kr/eng/index.html</span>
                        </h2>
                    </div>
                    <div class="dImg"><img src="images/festival/title.png" alt=""></div>
                    <div class="xCont_div">
                        <div class="x_c">
                          <div class="x_c-div01">
						  	<h4 class="bg1">简介</h4>
                            <p> 
富川国际电影节自1997年开展以来便蓬勃发展，并成为了富川市最具有代表性的标志。富川国际电影节被称为最具有活力的电影节，聚集了许多电影爱好者。富川电影节无论是在观众中还是在电影产业工作人员中都得到了很高的凭借。不仅如此，通过和日本夕张国际奇幻电影节以及欧洲梦幻电影联盟的合作，富川国际奇幻电影节已成为亚洲拥有最多流派的电影节。</p><p><br></p>  
                          </div>
                          <div class="x_c-div02">
						  	<h4 class="bg2">征片要求</h4>
                            <p>于2015年或之后制作的电影。所有递交的电影必须满足韩国放映准则，但是韩国长片或短片若得到评选委员会的同意则无需满足这条规则。时长短于60分钟的为短片，60分钟及以上的电影为长片。短片截止日期为2016年4月22日，长片截止日期为2016年5月6日。参选者必须在面向公众展映前解决一切版权问题，电影节不会为每个参与者检查，也不会为与之带来的问题负责。</p>  
                          </div>
                          <div class="x_c-div03">
						  	<h4 class="bg3">评选规则及奖项设置</h4>
                            <p>
								富川选择奖：长片<br/>
								（六项长片富川选择奖将会颁给具有创意的新兴电影长片。其中，奖金金额达到两千五百万韩元的五个奖项将通过由电影和文化专家组成的评选委员会选出，而NH农协市民选择奖将由观众投票决定。）<br/>
								<span>富川最佳电影（奖金一千五百万韩元）</span><br/>
								<span>最佳导演（奖金一千万韩元）</span><br/>
								<span>最佳男演员</span><br/>
								<span>最佳女演员</span><br/>
								<span>评选委员选择奖</span><br/>
								<span>NH农协市民选择奖</span><br/>
							</p><br/>
							<p>
								富川选择奖：短片<br/>
					（通过由电影和文化专家组成的评选委员会选出展现了创造力和实验性的短片电影。市民选择奖将由观众投票决定。）<br/>
								<span>最佳短片电影（奖金五百万韩元）</span><br/>
								<span>评选委员选择奖（奖金三百万韩元）</span><br/>
								<span>最佳韩国短片电影（奖金五百万韩元）</span><br/>
								<span>市民选择奖</span><br/>
							</p><br/>
							<p>
								EFFFF亚洲奖（欧洲梦幻电影联盟亚洲奖）<br/>
							（EFFFF亚洲奖是颁给在今年电影节中展映的最佳亚洲题材的电影，将由EFFFF的代表来选出获奖电影，以此鼓励亚洲题材电影的发展。）<br/>
							</p><br/>
							<p>
								Netpac奖（亚洲电影振兴组织奖）<br/>
							（Netpac的成员和文化专家会在视觉表现的地方选出最优秀的、能表达出不同方面的亚洲电影。）<br/>
							</p><br/>
							<p>
								FUJIFILM Eterna奖（富士胶片奖）<br/>
								（为了鼓励韩国独立电影的发展和培养有才之士，电影专家会选择最佳韩国独立长片电影。由富士赞助，奖品为富士胶片。）<br/>
							</p><br/>
							<p>
								BIFAN青年电影学院奖<br/>
						（为了鼓励和支持青年电影制作人，三项特殊的奖项会颁给在第五届BIFAN青年电影学院完成的杰出短片。）<br/>
								<span>BIFAN主席奖</span><br/>
								<span>BIFAN青年电影学院导演奖</span><br/>
								<span>京畿教育局长奖</span><br/>
								<span>BIFAN执行导演奖</span><br/>
							</p><br/>
                          </div>
                          <div class="x_c-div04">
						  	<h4 class="bg3">投递方式与联系方式</h4>
                            <p>
						电影投递需要先通过网址（http://www.bifan.kr/eng/application/entry.html）填写表格，需要注册网站帐号。<br/>
							</p><br/>
							<p>
							上传电影则可以通过网络上传或是DVD投递的方式。要通过网络上传的话，电影应该上传到分享视频的网站，比如说Vimeo或Youtobe，并在提交的表格中提供在线链接和观看电影的密码。链接应在2016年5月31日前不会过期或更改。建议为电影设定密码以保证隐私性。DVD投递的话，需要将一份DVD资料标注电影名称、时长、联系方式后寄到以下地址<br/>
							Bucheon International Fantastic Film Featival/Program Department,1 Giljuro,Wonmi-gu,Bucheon City,Gyeonggi Province,,South Korea14505
							</p><br/>
							<p>
								投递电影无需任何费用。<br/>
								联系方式：
							</p><br/>
							<p>电子邮箱：submission@bifan.kr</p>
							<p>电话：+82(0)32 327 6313 *Ext.134(for short films)<br/>
								<span>+82(0)32 327 6313 *Ext.132,191(for feature films)</span>
							</p>
                          </div>
                          <div class="x_c-div05">
                            
                          </div>                          
                        </div>
                        <div class="x_l">
                            <div class="x_lt">
	                            <a href="#">申请投寄</a>
							</div>
                            <div class="x_lb">
                                <a href=""><img src="images/festival/i10_07.png" alt=""></a>|
                                <a href=""><img src="images/festival/i11_10.png" alt=""></a>|
                                <a href=""><img src="images/festival/i12_12.png" alt=""></a>
                            </div>
                        </div>
                        <div class="x_p">
                            <h3>已有 <i>98</i>条评论</h3>
                            <div class="x_pd">
                            	<div class="send">  
								 <img src="images/festival/ph1.png">            
								 <textarea placeholder="@Hugo Sigard很喜欢这种访谈，受益匪浅..."></textarea>
								 <div class="option">
									 <div class="btn">
										<button type="button" id="zfabu">发布评论</button>
									 </div>
								</div>
							</div>
						<div class="sended">
							<div class="sended1">
								<img src="images/festival/ph2.png">
								<div class="comment">
									<h4>Hugo Sigaud</h4>&nbsp;&nbsp;|&nbsp;&nbsp;<time>3小时前</time>
									<p>太棒了！很喜欢这种访谈，受益匪浅！！</p>
									<a onclick="">回复</a>
								</div>
							</div>
							<div class="sended2">
								<img src="images/festival/ph3.png">
								<div class="comment">
									<h4>查实丁</h4>&nbsp;&nbsp;|&nbsp;&nbsp;<time>两天前</time>
									<p>做了那么久的电影梦，总归想要在这里掀些波澜。在追梦的路上，要努力，更要有机会。我们愿在通往梦想的路上与你同行，并成为你最值得信赖的伙伴，我们将招募50名制片人，成立工作室。</p>
									<a onclick="">回复</a>
								</div>
							</div>
						</div>
                           <div class="main">
                             <div class="cont">
                              <div class="item active" id="box1">
                               <div class="posts">
                    
                               </div>
                              <div id="pages1"></div>
                             </div>
                            </div>
                         </div>

                         </div>
                        </div>
                       </div>
                    </div>
                <div class="inR_right dRight">
                    <div class="dTime">
                        <div class="dT01">
                            <p class="p-01">2016.7.21</p>
                            <p class="p-02">2017.7.31</p>
                        </div>
                        <div class="dT02">
							<br/>
                            <p class="p-01">2017.5.6</p>
                            
                        </div>
                    </div>
                    <div class="dLabel">
	                    <p><span>恐怖片</span></p>
						<p><span>惊悚片</span></p>
						<p><span>具有想象力的类型片</span></p>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
	<img src="images/commom/footer/footer-logo.png">
	<ul>
		<li><a href="#">关于我们</a></li>
		<li><a href="#">加入我们</a></li>
		<li><a href="#">合作推广</a></li>
	</ul>
	<ul>
		<li><a href="#">全部电影节</a></li>
		<li><a href="#">更多活动</a></li>
		<li><a href="#">访谈录</a></li>
		<li><a href="#">后期投寄</a></li>
	</ul>
	<ul style=" background:none;">
		<li>&copy; 2016 北京良介文化传媒有限公司</li>
		<li>京ICP备14003808号</li>
	</ul>
</div>

<script type="text/tpl" id="topictpl">
{{each rows as val i}}
    <div class="post">
        <div class="user">
            <a href="/Column_Content.asp?Column_ID=34693&uid={{val.T_UserCode}}">
            {{if val.T_UserPhoto==''}} <img src="/images/images/ff1895/pho.jpg"/>{{else}}<img src="{{val.T_UserPhoto}}"/>{{/if}}
            </a>
        </div>
        <div class="plcont">
            <div class="username"><a href="/Column_Content.asp?Column_ID=34693&uid={{val.T_UserCode}}">{{val.T_UserName}}</a><div class="date">{{val.T_EditDate}}</div></div>
            <div class="post-cont">
                {{#val.T_Reply}}
                {{if val.T_ObjType=='isCourse'}}
                    {{each val.objtype as cval h}}
                    <p><a href="/Course_Detail.asp?C_ID={{cval.T_ObjID}}" ><img src="{{cval.T_ObjXLImage}}"/></a></p>
                    {{/each}}
                {{else}}
                    {{each val.picture as pic j}}
                    <p><a data-title="" href="{{pic.P_YImage}}" data-lightbox="{{flag}}{{val.ID}}{{i}}{{j}}" ><img src="{{pic.P_XXLImage}}"  /></a></p>
                    {{/each}}
                {{/if}}
            </div>
            <div class="more"><a href="javascript:void(0);" flag="1">↓ 展开</a></div>
            <div class="other">
                <div class="opt">
                    <a href="javascript:void(0);" class="pl">评论{{val.T_ReplyCount}}</a> | 
                     
                    <!-- <a href="{{val.T_Link}}" class="share">分享</a>-->
                    {{if val.T_UserCode==DT_UserCode}}
                     <a href="javascript:delTopic('{{val.T_ID}}');" class="del">删除</a>
                    {{/if}}
                </div>
                <div class="plbox clear">
                    <textarea></textarea>
                    <div class="btn">
                        <button type="button" tid="{{val.T_ID}}" >发布</button>
                    </div>
                </div>
            </div>
            <div class="comment">
                <h2>全部评论(<span>{{val.T_ReplyCount}}</span>)</h2>
                <div class="comment-cont">
                    
                </div>
                <div id="{{flag}}sub{{i}}"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{{/each}}
</script>
<script type="text/tpl" id="replaytpl">
{{each rows as rep}}
    <div class="com-item">
        <div class="u-head">
            <a href="javascript:void(0);"><img src="{{if rep.TR_UserPhoto==''}}/images/images/ff1895/pho.jpg{{else}}{{rep.TR_UserPhoto}}{{/if}}"/></a>
        </div>
        <div class="u-cont">
            <div class="u-cz"><span>{{rep.TR_UserName}}</span><div class="u-date">{{rep.TR_EditDate}}</div></div>
            <div class="u-say">{{rep.TR_Reply}}</div>
            <div class="u-option">
                <div class="u-opt">
                   <!-- <a href="javascript:void(0);">查看对话</a>-->
                 
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{{/each}}
</script>

<script type="text/javascript" src="js/commom/jquery.min.js"></script>
<script type="text/javascript" src="js/commom/search.js"></script>
<script type="text/javascript" src="css/festival.css"></script>

</body>
</html>