<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>热门推荐</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="css/commom/hot.css">
</head>
<body>
<div class="inR_right">
<!--	<div class="inR_div">
		<h2>分类标签</h2>
		<div class="inR_div01">
			<a href="javascript:;">摄影</a>
			<a href="javascript:;">导演</a>
			<a href="javascript:;">制片人</a>
			<a href="javascript:;">后期制作</a>
		</div>
	</div>-->
	<div class="inR_div">
		<h2>热门推荐</h2>
		<div class="inR_div02">
			<ul>
				<li><a href="javascript:;"><img src="images/hot/hot1.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/hot/hot2.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/hot/hot3.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/hot/hot4.png" alt=""></a></li>
			</ul>
			<a href="#">更多推荐 &gt;&gt;</a>
		</div>
	</div>
	<div class="inR_div">
		<h2>关注我们</h2>
		<div class="inR_div03">
			<img src="images/hot/erweima.jpg" alt="">
		</div>
	</div>
</div>
</body>
</html>