<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>后期投寄</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="STYLESHEET" type="text/css" href="css/commom/header.css">
	<link rel="STYLESHEET" type="text/css" href="css/commom/search.css">
	<link rel="stylesheet" type="text/css" href="css/commom/footer.css">
	<link rel="STYLESHEET" type="text/css" href="css/laterPost.css">
</head>

<body>
<div class="header" id="header">
	<img class="logo" src="images/commom/header/logo.png">
	<ul>
		<li class="two"><a href="#">首页</a></li>
		<li class="five"><a href="#">全部电影节</a></li>
		<li class="two"><a href="#">活动</a></li>
		<li class="three"><a href="#">访谈录</a></li>
		<li class="four"><a href="#">后期投寄</a></li>
		<li class="four"><a href="#">关于我们</a></li>
	</ul>
	<img class="search" src="images/commom/header/search.png" id="isearch" onclick="search()">
	<a href="#"><img class="photo" src="images/person-info/photo.png"></a>
<!--	<a class="login" href="login.html">登录</a>-->
</div>
<div id="search" class="sch">
		<img src="images/commom/header/search-bg.png" class="img1">
		<input type="text" id="sch" class="sch_k" placeholder="搜索电影节"/>
		<a href="search.html"><img src="images/commom/header/search-search.png" class="img2"></a>
		<img src="images/commom/header/close.png" class="img3" id="close">
</div>

<div class="nei">
    <div class="neiImg neiImg_h1" style="background:url(images/laterPost/post_bg.png) center top no-repeat;"></div>
    <div class="neiCont">
        <div class="w">
            <div class="laterPost">
                <p>简介：你如果拍了电影想参加电影节，剩下的事儿就交给我们了。</p>
                <p>包括给你的影片翻译、上字幕、规范成符合电影节要求的格式、完成投寄、实时更新投寄信息。</p>
                <a href="javascript:;">申请投寄</a>
            </div>
        </div>
    </div>
</div>

<div class="footer">
	<img src="images/commom/footer/footer-logo.png">
	<ul>
		<li><a href="#">关于我们</a></li>
		<li><a href="#">加入我们</a></li>
		<li><a href="#">合作推广</a></li>
	</ul>
	<ul>
		<li><a href="#">全部电影节</a></li>
		<li><a href="#">更多活动</a></li>
		<li><a href="#">访谈录</a></li>
		<li><a href="#">后期投寄</a></li>
	</ul>
	<ul style=" background:none;">
		<li>&copy; 2016 北京良介文化传媒有限公司</li>
		<li>京ICP备14003808号</li>
	</ul>
</div>
</body>
<script type="text/javascript" src="js/commom/jquery.min.js"></script>
<script type="text/javascript" src="js/commom/search.js"></script>
</html>