<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
<link type="text/css" rel="stylesheet" href="css/commom/lunbotu.css">

</head>	
<body>

<!-- 代码开始 -->
<div id="showcase" class="cloud row-content showcase">
	<div class="container">
		<div class="slide" style="display:block; ">                
			<div class="content-main-visual">
				<a class="pc bg1" href="#" target="_blank"></a>	
				<a class="pc bg2" href="#" target="_blank"></a>
				<a class="pc bg3" href="#" target="_blank"></a>
				<a class="pc bg4" href="#" target="_blank"></a>
				<a class="pc bg5" href="#" target="_blank"></a>
			</div>
			<div class="content-main-feature">
				<div class="feature">
					<a href="#" class="current">
						<img src="images/commom/lunbotu/icon1.png">
						<div class="timerLine dark-green"></div><!-- 进度条 -->
					</a>
				</div>
				<div class="feature">
					<a href="#">
						<img src="images/commom/lunbotu/icon2.png">
						<div class="timerLine dark-azure"></div>
					</a>				
				</div>           
				<div class="feature">
					<a href="#">
						<img src="images/commom/lunbotu/icon3.png">
						<div class="timerLine dark-brick"></div>
					</a>
				</div>           
				<div class="feature">
					<a href="#">
						<img src="images/commom/lunbotu/icon4.png">
						<div class="timerLine dark-gray"></div>
					</a>
				</div>
				<div class="feature">
					<a href="#">
						<img src="images/commom/lunbotu/icon5.png">
						<div class="timerLine dark-green"></div><!-- 进度条 -->
					</a>
				</div>           
			</div>
		</div>
	</div>
</div>
<!-- 代码结束 -->

<script type="text/javascript" src="js/commom/jquery.js"></script> 
<script type="text/javascript" src="js/commom/lunbotu.js"></script>               
<script type="text/javascript">
jQuery(document).ready(function(){AcerUi.init();});
</script>
</body>
</html>