<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>个人作品</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="css/festival.css">
<link rel="stylesheet" type="text/css" href="css/commom/header.css">
<link rel="stylesheet" type="text/css" href="css/commom/footer.css">
<link rel="stylesheet" type="text/css" href="css/activity.css">
<link rel="stylesheet" type="text/css" href="css/commom/hot.css">
<link rel="stylesheet" type="text/css" href="css/interview.css">

</head>

<body>
<div class="header" id="header">
	<img class="logo" src="images/commom/header/logo.png">
	<ul>
		<li class="two"><a href="#">首页</a></li>
		<li class="five"><a href="#">全部电影节</a></li>
		<li class="two"><a href="#">活动</a></li>
		<li class="three"><a href="#">访谈录</a></li>
		<li class="four"><a href="#">后期投寄</a></li>
		<li class="four"><a href="#">关于我们</a></li>
	</ul>
	<img class="search" src="images/commom/header/search.png" id="isearch" onclick="search()">
	<a href="#"><img class="photo" src="images/person-info/photo.png"></a>
</div>
<div id="search" class="sch">
		<img src="images/commom/header/search-bg.png" class="img1">
		<input type="text" id="sch" class="sch_k" placeholder="搜索电影节"/>
		<a href="search.html"><img src="images/commom/header/search-search.png" class="img2"></a>
		<img src="images/commom/header/close.png" class="img3" id="close">
</div>

<div class="nei">
    <div class="neiCont">
        <div class="w">
            <div class="inRecord">
				<!--视频-->
				<!--<video src="/i/movie.ogg" controls="controls">
					您的浏览器不支持 video 标签。
				</video>-->
				<iframe height=600 width=100% src='http://player.youku.com/embed/XMTU5MzczNjY4MA==' frameborder=0 'allowfullscreen'></iframe>
				
                <div class="inR_left xCont dCont">
					<h2>《态度短片》系列</h2>
					<div data-bd-bind="1474615158565" class="share-button">
						<a href="#" class="share" data-cmd="share" title="分享到社区"><img src="images/activity_movie/share.png"></a>
						<a href="#" class="qzone" data-cmd="qzone" title="分享到QQ空间"><img src="images/activity_movie/qzong.png"></a>
						<a href="#" class="wechat" data-cmd="wechat" title="分享给微信好友"><img src="images/activity_movie/wechat.png"></a>
						<a href="#" class="pengyouquan" data-cmd="pengyouquan" title="分享到朋友圈"><img src="images/activity_movie/pengyouquan.png"></a>
						<a href="#" class="xinlang" data-cmd="xinlang" title="分享到新浪微博"><img src="images/activity_movie/xinlang.png"></a>
					</div>
                    <div class="xCont_div">
						<div class="work_info">
							<div class="work_info_left">
								<p>创作时间：2015年8月</p>
								<p>类别：TVC，网络剧</p>
								<p>担任职务：美术指导</p>
							</div>
							<div class="work_info_right">
								<a>51</a>
							</div>
						</div>
						
                        <div class="x_l">
                            <div class="x_lb">
                                <a href=""><img src="images/festival/i10_07.png" alt=""></a>|
                                <a href=""><img src="images/festival/i11_10.png" alt=""></a>|
                                <a href=""><img src="images/festival/i12_12.png" alt=""></a>
                            </div>
                        </div>
						
                        <div class="x_p">
                            <h3>已有 <i>2</i>条评论</h3>
                            <div class="x_pd">
                            	<div class="send">  
								 <img src="images/festival/ph1.png">            
								 <textarea placeholder="@Hugo Sigard很喜欢这种访谈，受益匪浅..."></textarea>
								 <div class="option">
									 <div class="btn">
										<button type="button" id="zfabu">发布评论</button>
									 </div>
								 </div>
								</div>
								<div class="sended">
								<div class="sended1">
									<img src="images/festival/ph2.png">
									<div class="comment">
										<h4>Hugo Sigaud</h4>&nbsp;&nbsp;|&nbsp;&nbsp;<time>3小时前</time>
										<p>太棒了！很喜欢这种访谈，受益匪浅！！</p>
										<a onclick="">回复</a>
									</div>
								</div>
								<div class="sended2">
									<img src="images/festival/ph3.png">
									<div class="comment">
										<h4>查实丁</h4>&nbsp;&nbsp;|&nbsp;&nbsp;<time>两天前</time>
										<p>做了那么久的电影梦，总归想要在这里掀些波澜。在追梦的路上，要努力，更要有机会。我们愿在通往梦想的路上与你同行，并成为你最值得信赖的伙伴，我们将招募50名制片人，成立工作室。</p>
										<a onclick="">回复</a>
									</div>
								</div>
							</div>
                            	<div class="main">
                             	<div class="cont">
                              		<div class="item active" id="box1">
                               			<div class="posts">
                    
                               			</div>
                              			<div id="pages1"></div>
                             		</div>
                            	</div>
                         	</div>
	                        </div>
                    	</div>
                	</div>
            	</div>
				<!--热门推荐-->
				<div class="inR_right">
					
					<div class="inR_div">
						<h2>其它作品</h2>
						<div class="inR_div02">
							<ul>
								<li><a href="javascript:;"><img src="images/hot/hot1.png" alt=""></a></li>
								<li><a href="javascript:;"><img src="images/hot/hot2.png" alt=""></a></li>
								<li><a href="javascript:;"><img src="images/hot/hot3.png" alt=""></a></li>
								<li><a href="javascript:;"><img src="images/hot/hot4.png" alt=""></a></li>
							</ul>
							<a href="#">更多推荐 &gt;&gt;</a>
						</div>
					</div>
					<div class="inR_div">
						<h2>关注我们</h2>
						<div class="inR_div03">
							<img src="images/hot/erweima.jpg" alt="">
						</div>
					</div>
				</div>
        	</div>
    	</div>
	</div>
</div>


<div class="footer">
	<img src="images/commom/footer/footer-logo.png">
	<ul>
		<li><a href="#">关于我们</a></li>
		<li><a href="#">加入我们</a></li>
		<li><a href="#">合作推广</a></li>
	</ul>
	<ul>
		<li><a href="#">全部电影节</a></li>
		<li><a href="#">更多活动</a></li>
		<li><a href="#">访谈录</a></li>
		<li><a href="#">后期投寄</a></li>
	</ul>
	<ul style=" background:none;">
		<li>&copy; 2016 北京良介文化传媒有限公司</li>
		<li>京ICP备14003808号</li>
	</ul>
</div>


<script type="text/javascript" src="js/commom/jquery.min.js"></script>
<script type="text/javascript" src="js/commom/search.js"></script>
<script type="text/javascript" src="css/festival.css"></script>

</body>
</html>