<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>搜索子页面</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="STYLESHEET" type="text/css" href="css/commom/header.css">
	<link rel="STYLESHEET" type="text/css" href="css/commom/search.css">
	<link rel="stylesheet" type="text/css" href="css/commom/hot.css">
	<link rel="stylesheet" type="text/css" href="css/commom/footer.css">
</head>
<body>
<div class="header" id="header">
	<img class="logo" src="images/commom/header/logo.png">
	<ul>
		<li class="two"><a href="#">首页</a></li>
		<li class="five"><a href="#">全部电影节</a></li>
		<li class="two"><a href="#">活动</a></li>
		<li class="three"><a href="#">访谈录</a></li>
		<li class="four"><a href="#">后期投寄</a></li>
		<li class="four"><a href="#">关于我们</a></li>
	</ul>
	<img class="search" src="images/commom/header/search.png" id="isearch" onclick="search()">
	<a class="login" href="login.html">登录</a>
</div>
<div id="search" class="sch">
		<img src="images/commom/header/search-bg.png" class="img1">
		<input type="text" id="sch" class="sch_k" placeholder="搜索电影节"/>
		<a href="search.html"><img src="images/commom/header/search-search.png" class="img2"></a>
		<img src="images/commom/header/close.png" class="img3" id="close">
</div>
<div class="main">
	<div class="inR_left">
	<h2>横滨</h2>
	<div class="inRLeft_all shouc-ul">
		<div class="inRLeft_list">
			<div class="img">
            	<a href="#"><img src="images/commom/search_img/cover1.png"></a>
                <i><img src="images/commom/search_img/activity_label.png"></i>
            </div>
			<div class="text">
				<h2><a href="#">电影节 | 横滨国际电影节特别采访</a></h2>
				<p>设计对于音乐的重要性是显而易见的。它影响了我们理解、感知音乐       
			 人作品的方式，并能让人们产生买下实体唱片的想法。在这期的《No            
		isey Design》中，我们与 Sagmeister 
		&amp;ampampampampamp Walsh 公司的 Stefan。并能                                
		isey Design》中，我们与 Sagmeister &amp;ampampampampamp Walsh 公司的 
		Stefan。并能                                    isey Design》中，我们与 
		Sagmeister &amp;ampampampampamp Walsh 公司的 Stefan。并能                     
		isey Design》中，我们与 Sagmeister &amp;ampampampampamp Walsh 
		公司</p>
				<div class="t_view">
					<div class="tv_t">
						<span><b>摄影</b><i>3小时前</i></span>
					</div>
					<div class="tv_v">
						<span><b><img src="images/commom/search_img/ft-dz_03.png" alt=""></b></span>
						<span><b><img src="images/commom/search_img/i01_06.png" alt=""></b><i>10</i></span>
						<span><b><img src="images/commom/search_img/i02_07.png" alt=""></b><i>2455</i></span>
						<span><b><img src="images/commom/search_img/i03_10.png" alt=""></b><i>245</i></span>
					</div>
				</div>
			</div>
		</div>
		<div class="inRLeft_list">
			<div class="img">
            	<a href="#"><img src="images/commom/search_img/cover2.png"></a>
                <i><img src="images/commom/search_img/festival_label.png"></i>
            </div>
			<div class="text">
				<h2><a href="#">横滨三年展中的影像艺术</a></h2>
				<p>设计对于音乐的重要性是显而易见的。它影响了我们理解、感知音乐       
			 人作品的方式。</p>
				<div class="t_view">
					<div class="tv_t">
						<span><b>摄影</b><i>3小时前</i></span>
					</div>
					<div class="tv_v">
						<span><b><img src="images/commom/search_img/ft-dz_03.png" alt=""></b></span>
						<span><b><img src="images/commom/search_img/i01_06.png" alt=""></b><i>10</i></span>
						<span><b><img src="images/commom/search_img/i02_07.png" alt=""></b><i>2455</i></span>
						<span><b><img src="images/commom/search_img/i03_10.png" alt=""></b><i>245</i></span>
					</div>
				</div>
			</div>
		</div>
		<div class="inRLeft_list">
			<div class="img">
            	<a href="#"><img src="images/commom/search_img/cover3.png"></a>
                <i><img src="images/commom/search_img/interview_label.png"></i>
            </div>
			<div class="text">
				<h2><a href="#">专访 | 惟衡横滨导演专访</a></h2>
				<p>设计对于音乐的重要性是显而易见的。它影响了我们理解、感知音乐       
			 人作品的方式。</p>
				<div class="t_view">
					<div class="tv_t">
						<span><b>摄影</b><i>3小时前</i></span>
					</div>
					<div class="tv_v">
						<span><b><img src="images/commom/search_img/ft-dz_03.png" alt=""></b></span>
						<span><b><img src="images/commom/search_img/i01_06.png" alt=""></b><i>10</i></span>
						<span><b><img src="images/commom/search_img/i02_07.png" alt=""></b><i>2455</i></span>
						<span><b><img src="images/commom/search_img/i03_10.png" alt=""></b><i>245</i></span>
					</div>
				</div>
			</div>
		</div>
		<div class="inRLeft_list">
			<div class="img"><a href="#"><img src="images/commom/search_img/cover4.png"></a></div>
			<div class="text">
				<h2><a href="#">干货 | 值得永远收藏横滨影像</a></h2>
				<p>设计对于音乐的重要性是显而易见的。它影响了我们理解、感知音乐       
			 人作品的方式。</p>
				<div class="t_view">
					<div class="tv_t">
						<span><b>摄影</b><i>3小时前</i></span>
					</div>
					<div class="tv_v">
						<span><b><img src="images/commom/search_img/ft-dz_03.png" alt=""></b></span>
						<span><b><img src="images/commom/search_img/i01_06.png" alt=""></b><i>10</i></span>
						<span><b><img src="images/commom/search_img/i02_07.png" alt=""></b><i>2455</i></span>
						<span><b><img src="images/commom/search_img/i03_10.png" alt=""></b><i>245</i></span>
					</div>
				</div>
			</div>
		</div>
		<div class="inRLeft_list">
			<div class="img"><a href="#"><img src="images/commom/search_img/cover5.png"></a></div>
			<div class="text">
				<h2><a href="#">干货 | 横滨摄影师</a></h2>
				<p>设计对于音乐的重要性是显而易见的。它影响了我们理解、感知音乐       
			 人作品的方式。</p>
				<div class="t_view">
					<div class="tv_t">
						<span><b>摄影</b><i>3小时前</i></span>
					</div>
					<div class="tv_v">
						<span><b><img src="images/commom/search_img/ft-dz_03.png" alt=""></b></span>
						<span><b><img src="images/commom/search_img/i01_06.png" alt=""></b><i>10</i></span>
						<span><b><img src="images/commom/search_img/i02_07.png" alt=""></b><i>2455</i></span>
						<span><b><img src="images/commom/search_img/i03_10.png" alt=""></b><i>245</i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="pages">
		<a class="first" href="javascript:showXgtList(1)" style="display:none">首页</a>
		<a class="prev" href="javascript:showXgtList(1)">
			<img src="images/commom/search_img/i05_21.png">
		</a>
		<span class="current">1</span>
		<span>2</span>
		<span>3</span>
		<span>...</span>
		<a class="next" href="javascript:showXgtList(1)">
			<img src="images/commom/search_img/i06_23.png">
		</a>
		<a class="last" href="javascript:showXgtList(1)" style="display:none">尾页</a>
	</div>
</div>

	<!--热门推荐-->
<div class="inR_right">
<!--<div class="inR_div">
		<h2>分类标签</h2>
		<div class="inR_div01">
			<a href="javascript:;">摄影</a>
			<a href="javascript:;">导演</a>
			<a href="javascript:;">制片人</a>
			<a href="javascript:;">后期制作</a>
		</div>
	</div>-->
	<div class="inR_div">
		<h2>热门推荐</h2>
		<div class="inR_div02">
			<ul>
				<li><a href="javascript:;"><img src="images/hot/hot1.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/hot/hot2.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/hot/hot3.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/hot/hot4.png" alt=""></a></li>
			</ul>
			<a href="#">更多推荐 &gt;&gt;</a>
		</div>
	</div>
	<div class="inR_div">
		<h2>关注我们</h2>
		<div class="inR_div03">
			<img src="images/hot/erweima.jpg" alt="">
		</div>
	</div>
</div>
</div>
<div class="footer">
	<img src="images/commom/footer/footer-logo.png">
	<ul>
		<li><a href="#">关于我们</a></li>
		<li><a href="#">加入我们</a></li>
		<li><a href="#">合作推广</a></li>
	</ul>
	<ul>
		<li><a href="#">全部电影节</a></li>
		<li><a href="#">更多活动</a></li>
		<li><a href="#">访谈录</a></li>
		<li><a href="#">后期投寄</a></li>
	</ul>
	<ul style=" background:none;">
		<li>&copy; 2016 北京良介文化传媒有限公司</li>
		<li>京ICP备14003808号</li>
	</ul>
</div>

<script type="text/tpl" id="xgttpl">
  {{each rows as val i}}
	<div class="inRLeft_list">
		<div class="img"><a href="{{val.C_Link}}"><img src="{{val.C_LImage}}"/></a></div>
		<div class="text">
			<h2><a href="{{val.C_Link}}">{{val.C_Title}}</a><img src="images/commom/search_img/ft-dz_03.png"/></h2>
			<p>{{val.C_Leadin}}</p>
			<div class="t_view">
				<div class="tv_t">
					<span><b>摄影</b><i>3小时前</i></span>
				</div>
				<div class="tv_v">
					<span><b><img src="images/commom/search_img/i01_06.png" alt=""/></b><i>{{val.C_Hits}}</i></span>
					<span><b><img src="images/commom/search_img/i02_07.png" alt=""/></b><i>2455</i></span>
					<span><b><img src="images/commom/search_img/i03_10.png.png" alt=""/></b><i>245</i></span>
				</div>
			</div>
		</div>
	</div>
  {{/each}}

</script>
<script type="text/javascript" src="js/commom/jquery.min.js"></script>
<script type="text/javascript" src="js/commom/search.js"></script>
<!--<script type="text/javascript" src="js/sch.js"></script>
--><script type="text/javascript" src="js/commom/fenye.js"></script>


</body>
</html>