<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>全部电影节</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="STYLESHEET" type="text/css" href="css/commom/header.css">
	<link rel="stylesheet" type="text/css" href="css/commom/footer.css">
	<link rel="stylesheet" type="text/css" href="css/tabmain.css">

    
</head>

<body>
<!--头部-->
<div class="header" id="header">
	<img class="logo" src="images/commom/header/logo.png">
	<ul>
		<li class="two"><a href="#">首页</a></li>
		<li class="five"><a href="#">全部电影节</a></li>
		<li class="two"><a href="#">活动</a></li>
		<li class="three"><a href="#">访谈录</a></li>
		<li class="four"><a href="#">后期投寄</a></li>
		<li class="four"><a href="#">关于我们</a></li>
	</ul>
	<img class="search" src="images/commom/header/search.png" id="isearch" onclick="search()">
	<a href="#"><img class="photo" src="images/person-info/photo.png"></a>
</div>
<div id="search" class="sch">
		<img src="images/commom/header/search-bg.png" class="img1">
		<input type="text" id="sch" class="sch_k" placeholder="搜索电影节"/>
		<a href="search.html"><img src="images/commom/header/search-search.png" class="img2"></a>
		<img src="images/commom/header/close.png" class="img3" id="close">
</div>


<div class="main">
    <div class="w">
    <div class="main_tit" id="type">
            <div class="mt_top">
                <a style="background: transparent none repeat scroll 0% 0%; color: rgb(0, 0, 0);" href="javascript:;" class="type mtTop_act">类型∨</a>
                <a style="background: transparent none repeat scroll 0% 0%; color: rgb(0, 0, 0);" href="javascript:;" class="region">地域∨</a>
                <a style="border-right: medium none; background: transparent none repeat scroll 0% 0%; color: rgb(0, 0, 0);" href="javascript:;" class="time">时间∨</a>
            </div>
     <div class=" jiaAAA mt_bot">
		
       
    <div class="mtBot_div screenList">
          <a href="javascript:;" class="item_n">A类：竞赛型非专门类电影节</a>
		  <a href="javascript:;" class="item_n">B类：竞赛型专门类电影节</a>
		  <a href="javascript:;" class="item_n">C类：非竞赛型电影节</a>
		  <a href="javascript:;" class="item_n">D类：纪录片与短片电影节</a>
    </div>
	<div class="mtBot_div screenList">
          <a href="javascript:;" class="item_n">亚洲</a>
		  <a href="javascript:;" class="item_n">欧洲</a>
		  <a href="javascript:;" class="item_n">非洲</a>
		  <a href="javascript:;" class="item_n">北美洲</a>
		  <a href="javascript:;" class="item_n">南美洲</a>
		  <a href="javascript:;" class="item_n">大洋洲</a>
    </div>
	<div class="mtBot_div screenList" >
          <a href="javascript:;" class="item_n">1月</a>
		  <a href="javascript:;" class="item_n">2月</a>
		  <a href="javascript:;" class="item_n">3月</a>
		  <a href="javascript:;" class="item_n">4月</a>
		  <a href="javascript:;" class="item_n">5月</a>
		  <a href="javascript:;" class="item_n">6月</a>
		  <a href="javascript:;" class="item_n">7月</a>
		  <a href="javascript:;" class="item_n">8月</a>
		  <a href="javascript:;" class="item_n">9月</a>
		  <a href="javascript:;" class="item_n">10月</a>
		  <a href="javascript:;" class="item_n">11月</a>
		  <a href="javascript:;" class="item_n">12月</a>
    </div></div>  
  </div>
  
     <div class="main_cont mcT" id="w_main">

		<ul class="lianCont01_uiAAA main_ui">
			<!--第1行-->
				<li style="width: 534px;">
					<div class="img"><a href="#" class="a1"><img src="images/total_festival/img1.png" alt="" style="width: 534px; height: 313px;"></a></div>
					<div class="text">
					   <div class="t_label">
							<a href="javascript::">类型片</a>
							<a href="javascript::">惊悚片</a>
					   </div>
					   <div class="t_tit"><a href="#">韩国富川国际电影节</a></div>
					   <div class="t_time">征片时间：<span>2015.3.4-2016.5.6</span></div>
					   <div class="t_view">
						   <span class="span01"><b></b><i>2690</i></span>
						   <span class="span02"><b></b><i>269</i></span>
						   <span class="span03"><b></b><i>98</i></span>
					   </div>
				   </div>
				  <p></p> 
				</li>
			
				<li>
				   <div class="img"><a href="#" class="a2"><img src="images/total_festival/img2.png" alt=""></a></div>
				   <div class="text">
					   <div class="t_label">
							<a href="javascript::">类型片</a>
					   </div>
					   <div class="t_tit"><a href="#">柏林电影节</a></div>
					   <div class="t_time">征片时间：<span>2016.6.2-2016.7.3</span></div>
					   <div class="t_view">
						   <span class="span01"><b></b><i>690</i></span>
						   <span class="span02"><b></b><i>29</i></span>
						   <span class="span03"><b></b><i>58</i></span>
					   </div>
				   </div>
				  <p style="left: 0px; top: 432px; display: none;"></p> 
				</li>
				
				<li>
				   <div class="img"><a href="#" class="a3"><img src="images/total_festival/img3.png" alt=""></a></div>
				   <div class="text">
					   <div class="t_label">
							<a href="javascript::">类型片</a>
							<a href="javascript::">惊悚片</a>
					   </div>
					   <div class="t_tit"><a href="#">威尼斯国际电影节</a></div>
					   <div class="t_time">征片时间：<span>2016.4.5-2016.8.6</span></div>
					   <div class="t_view">
						   <span class="span01"><b></b><i>260</i></span>
						   <span class="span02"><b></b><i>26</i></span>
						   <span class="span03"><b></b><i>8</i></span>
					   </div>
				   </div>
				  <p style="left: 0px; top: 432px; display: none;"></p> 
				</li>
				
				<!--第2行-->
				<li>
				   <div class="img"><a href="#" class="a2"><img src="images/total_festival/img4.png" alt=""></a></div>
				   <div class="text">
					   <div class="t_label">
							<a href="javascript::">类型片</a>
					   </div>
					   <div class="t_tit"><a href="#">莫斯科电影节</a></div>
					   <div class="t_time">征片时间：<span>2016.3.4-2016.5.6</span></div>
					   <div class="t_view">
						   <span class="span01"><b></b><i>690</i></span>
						   <span class="span02"><b></b><i>20</i></span>
						   <span class="span03"><b></b><i>58</i></span>
					   </div>
				   </div>
				  <p style="left: 0px; top: 432px; display: none;"></p> 
				</li>
				
				<li style="width: 534px;">
					<div class="img"><a href="#" class="a1"><img src="images/total_festival/img5.png" alt="" style="width: 534px; height: 313px;"></a></div>
					<div class="text">
					   <div class="t_label">
							<a href="javascript::">类型片</a>
							<a href="javascript::">惊悚片</a>
					   </div>
					   <div class="t_tit"><a href="#">韩国富川国际电影节</a></div>
					   <div class="t_time">征片时间：<span>2016.3.4-2016.5.6</span></div>
					   <div class="t_view">
						   <span class="span01"><b></b><i>2690</i></span>
						   <span class="span02"><b></b><i>269</i></span>
						   <span class="span03"><b></b><i>98</i></span>
					   </div>
				   </div>
				  <p></p> 
				</li>
							
				<li>
				   <div class="img"><a href="#" class="a3"><img src="images/total_festival/img6.png" alt=""></a></div>
				   <div class="text">
					   <div class="t_label">
							<a href="javascript::">类型片</a>
							<a href="javascript::">惊悚片</a>
					   </div>
					   <div class="t_tit"><a href="#">蒙特利尔电影节</a></div>
					   <div class="t_time">征片时间：<span>2016.3.4-2016.5.6</span></div>
					   <div class="t_view">
						   <span class="span01"><b></b><i>1</i></span>
						   <span class="span02"><b></b><i>2455</i></span>
						   <span class="span03"><b></b><i>245</i></span>
					   </div>
				   </div>
				  <p style="left: 0px; top: 432px; display: none;"></p> 
				</li>
				
				<!--第3行-->
				<li>
				   <div class="img"><a href="#" class="a3"><img src="images/total_festival/img7.png" alt=""></a></div>
				   <div class="text">
					   <div class="t_label">
							<a href="javascript::">类型片</a>
							<a href="javascript::">惊悚片</a>
					   </div>
					   <div class="t_tit"><a href="#">戛纳电影节</a></div>
					   <div class="t_time">征片时间：<span>2016.3.4-2016.5.6</span></div>
					   <div class="t_view">
						   <span class="span01"><b></b><i>1</i></span>
						   <span class="span02"><b></b><i>2455</i></span>
						   <span class="span03"><b></b><i>245</i></span>
					   </div>
				   </div>
				  <p style="left: 0px; top: 432px; display: none;"></p> 
				</li>
				
				<li>
				   <div class="img"><a href="#" class="a2"><img src="images/total_festival/img8.png" alt=""></a></div>
				   <div class="text">
					   <div class="t_label">
							<a href="javascript::">类型片</a>
					   </div>
					   <div class="t_tit"><a href="#">北京国际电影节</a></div>
					   <div class="t_time">征片时间：<span>2016.3.4-2016.5.6</span></div>
					   <div class="t_view">
						   <span class="span01"><b></b><i>1</i></span>
						   <span class="span02"><b></b><i>2455</i></span>
						   <span class="span03"><b></b><i>245</i></span>
					   </div>
				   </div>
				  <p style="left: 0px; top: 432px; display: none;"></p> 
				</li>
				
				<li style="width: 534px;">
					<div class="img"><a href="#" class="a1"><img src="images/total_festival/img9.png" alt="" style="width: 534px; height: 313px;"></a></div>
					<div class="text">
					   <div class="t_label">
							<a href="javascript::">类型片</a>
							<a href="javascript::">惊悚片</a>
					   </div>
					   <div class="t_tit"><a href="#">柏林电影节</a></div>
					   <div class="t_time">征片时间：<span>2016.3.4-2016.5.6</span></div>
					   <div class="t_view">
						   <span class="span01"><b></b><i>0</i></span>
						   <span class="span02"><b></b><i>2455</i></span>
						   <span class="span03"><b></b><i>245</i></span>
					   </div>
				   </div>
				  <p></p> 
				</li>
		</ul>
</div>
<script type="text/tpl" id="xgttpl">
 {{each rows as val i}}
        <li>
           <div class="img"><a href="{{val.C_Link}}"><img src="{{val.C_LImage}}" alt=""/></a></div>
           <div class="text">
               <div class="t_label">
                    {{each val.OVF_Field1 as tag j}}
                    <a href="javascript::">{{tag}}</a>
                    {{/each}}
               </div>
               <div class="t_tit"><a href="{{val.C_Link}}">{{val.C_Title}}</a></div>
               <div class="t_time">征片时间：<span>{{val.OVF_Field2}}</span></div>
               <div class="t_view">
                   <span class="span01"><b></b><i>{{val.C_Hits}}</i></span>
                   <span class="span02"><b></b><i>2455</i></span>
                   <span class="span03"><b></b><i>245</i></span>
               </div>
           </div>
          <p></p>
        </li>
	{{/each}}
</script>
<script type="text/tpl" id="fieldtpl">
    <div class="mtBot_div screenList{{if length>14}}height_40{{/if}}" style="display:none">
          {{each value as val i}}<a href="javascript:;" class="item_n">{{val.BFV_Value}}</a>{{/each}}
    </div>
</script>
</div>

<!--footer-->
<div class="footer">
	<img src="images/commom/footer/footer-logo.png">
	<ul>
		<li><a href="#">关于我们</a></li>
		<li><a href="#">加入我们</a></li>
		<li><a href="#">合作推广</a></li>
	</ul>
	<ul>
		<li><a href="#">全部电影节</a></li>
		<li><a href="#">更多活动</a></li>
		<li><a href="#">访谈录</a></li>
		<li><a href="#">后期投寄</a></li>
	</ul>
	<ul style=" background:none;">
		<li>&copy; 2016 北京良介文化传媒有限公司</li>
		<li>京ICP备14003808号</li>
	</ul>
</div>



<script type="text/javascript" src="js/commom/jquery.min.js"></script>
<script type="text/javascript" src="js/commom/search.js"></script>
<script src="js/commom/jquery.js"></script>
<script src="js/total_festival.js"></script>
<script>
function changeImg(mypic){
	var left=mypic.width;
	var top=mypic.height;
	mypic.style.left=-left*0.33+"px";
	mypic.style.top=-top*0.33+"px";
}
</script>
</body>
</html>